body{
    background-color: white;
    font-style: normal;
    font-family: serif;
    color: orange;
}

li{
    text-align: center;
    float: left;
    font-family: serif;
    font-size: small;
    font-weight: lighter;
    margin-right: 20px;

}
ul{
   list-style-type: none;
   margin-left: 350px;
   padding: 2px;
   overflow: hidden;


}

li a{
    display: block;
    padding: 5px;
    color: rgb(37, 35, 25);
    text-decoration-line: none;
}

.about{
    color: orange;
}

button{
    background-color: orange;
    color: white;
    font-family: serif;
    padding: 5px;
    margin-top: 13px;
    margin-left: 200px;
    font-style: normal;
}

nav{
    background-color: rgba(255, 174, 23, 0.192);
}

#write{
    color: rgb(37, 35, 35);
    text-align: center;
    font-family: serif;
    font-style: normal;
    margin-bottom: 10px;
    /* font-weight: 100px; */
}

hr{
    width: 95%;
    background-color: orange;
    color: orange;
    margin-bottom: 25px;

}

#img{
    background-color: rgb(204, 204, 202);
    width: 95%;
    margin-left: 25px;
    height: 4cm;
}

.story{
    color: rgb(37, 35, 35);
    margin-left: 30px;
    font-family: serif;
    margin-top: 62px;
    font-weight: bold;
}

.capture{
    color: rgb(37, 35, 25);
    font-family: serif;
    /* font-weight: 100px; */
    margin-left: 30px;
    padding-top: 0;
}

#find{
    color: rgb(37, 35, 25);
    margin-left: 30px;
    font-family: serif;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 0;
}

.tips{
    color: rgb(37, 35, 25);
    text-align: left;
    margin-left: 35px;
    padding-top: 0;
    margin-top: 0;
    
}

#vision{
    color: rgb(37, 35, 25);
    margin-left: 620px;
}

#image{
    background-color: rgb(204, 204, 202);
    width: 95%;
    height: 4cm;
    margin-left: 25px;
    border: orange;
    border-color: orange;
    border-image: ;
    border-radius: 5px;
}

/* footer{
    position: fixed;
    width: 95%;
    text-align: center;
    color: white;
    background-color: orange;
} */

#goal{
    color: white;
    text-align: left;
    margin-left: 30px;
    margin-top: 45px;
    font-family: serif;
}

#hrfoot{
    color: gray;
    width: 100%;

}

#footer{
    background-color: orange;
    margin-top: 45px;
}

#company{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}

#newsletter{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}

#copyright{
    color: white;
    text-align: center;

}