#logo{
    position: absolute;
    left: 3.04%;
    right: 79.76%;
    top: 0.44%;
    bottom: 98.55%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    
    color: #F39B16;
    text-align: left;

}

#hinv{
    color: #FFFFFF;
    background-color: #F39B16;
}
hr{
    width :132.9%;
    margin: 0px;
}

img{
    margin-top: 20px;
    max-width: 100%;
    height: 250px;;
}

#wetalk{

width: 500px;
height: 104px;
left: 30px;
top: 100px;
margin-left: 18px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;

color: #F39B16;
}

#increase{
width: 641px;
height: 96px;
left: 87px;
top: 376px;
margin-left: 48px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #4B3E3E;
}

#learn{
    margin-left: 50px;
    color: #FFFFFF;
    background-color: #F39B16;
    
}

#link{
    color:black;
}
a:hover {
    color: hotpink;
}

#navbarG{
background: rgba(243, 155, 22, 0.17);
}

#Alittle{
position: absolute;
width: 100%;
max-width: 100%;
height: 488px;
left: 42px;
top: 380px;

background: #F5F5F5;
    border: 1px solid #F5F5F5;}

body{
    margin:32;
    padding: 0;
    max-width: 100%;
    
}

#AshContainer{
position: absolute;
width: 50%;
height: 385px;
left: 657px;
top: 50px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
float: left;

color: #4B3E3E;
}

#gist{
    
width: 209px;
height: 70px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 132.9%;

/* or 32px */

color: #4B3E3E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#next{

width: 209px;
height: 70px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 132.9%;
margin-top: 170px;
/* or 32px */

color: #4B3E3E;


/* Inside auto layout */
}

#healthBe{
    margin-top: 580px;
    margin-left: 32px;
}
#buttonC{
    background-color: white; /* Green */
    color: #F39B16;
    padding: 15px 32px;
    text-align: top;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 300px;
    height: 54px;
    margin-left: 12px;
    margin-top: 32px;

}

#health{
    width: 340px;
    height: 29px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    
    color: #F39B16;
    
    
}

#fede{
 

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #4B3E3E;
}

#he{
    width: 100px;
height: 17px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #4B3E3E;
}